body{
    background: #ece9ef;
    font-family: irannas;
}
.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #5f5f5f;
    height: 44px;
    right: 0;
    color: #f1f1f1;

}
.topbar a{
    color: #f1f1f1;
    text-align: center;
}

.leftbar {
    position: absolute;
    margin-bottom: 40px;
    top: 45px;
    left: 0;
    width: 20%;
    background: #ffffff;

}
.leftbar .module {
    padding: 0px 10px 0px 0px;
    margin-bottom: 20px;

}
.leftbar .module h3.modtitle {
    font-weight: bold;
}
.module h3.modtitle {
    padding: 15px 0px;
    border-bottom: solid 3px #f4f4f4;
    text-transform: uppercase;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    position: relative;
    margin: 0px;
}

.module h3.modtitle:after {
    content: "";
    height: 3px;
    width: 70px;
    background: #41ade2;
    position: absolute;
    right: 0px;
    bottom: -3px;
}
.module ul{
    list-style: none;
    padding-right: 8px;
}
.module ul li {
    border-bottom: 1px solid #f5f5f5;
    padding: 4px 15px;

}
.module ul li a{
    display: block;
    color: #666;
    text-decoration: none!important;
}
.module ul li a:hover{
    color: #41ade2;
    background: #f5f5f5;
}

.rightbar {
    position: fixed;
    margin-bottom: 40px;
    top: 45px;
    right: 0;
    width: 20%;
    background: #ffffff;
    height: 100%;
}

.rightbar a{
    display: block;
    font-size: 16px;
    text-decoration: none!important;
    color: #000 ;
    padding: 12px 16px 16px 0px;
    vertical-align:middle;

}
.rightbar a:hover {
    background-color: #ccc;
}


.centerbar {
    position: absolute;
    margin-bottom: 40px;
    top: 45px;
    left: 20.5%;
    width: 59%;
    background: #ffffff;

}
.centerbar p{
    padding: 10px;
}

.bottombar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #5f5f5f;
    right: 0;
    height: 40px;
}

#footer-msg {
    text-align: center;
    margin: 10px;
}



.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 44px;
}

.menu-bar li {
    float: right;
    height: 44px;

}

.menu-bar li a, .w3-navitem, .menu-bar li .w3-btn, .menu-bar li .w3-input {
    display: block;
    padding: 12px 16px;
    height: 44px;
    text-decoration: none !important

}

.menu-bar li .w3-btn, .menu-bar li .w3-input {
    border: none;
    outline: none;
    width: 100%
}

.menu-bar li a:hover {
    color: #f1f1f1;
    background-color: #000
}



@font-face {
    font-family: irannas;
    src: url(irsans.ttf);
    font-weight: 400;
    font-style: normal
}
